<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
{#  加载静态样式表#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
{#  加载js文件#}
    <script type="text/javascript" src="{{ url_for('static',filename='js/test.js') }}"></script>


</head>
<body>

<div id="nav">
    <ul>
        <li>
{#           此处用到了URL链接，原来url_for在html里面也能用啊！！！好神奇！！！#}
            <a href="{{ url_for('index') }}">首页</a>
        </li>
        <li>
{#           此处用到了URL链接#}
            <a href="{{ url_for('news') }}">新闻</a>
        </li>
    </ul>
</div>

{% block content %}
{% endblock %}

</body>
</html>